
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

        <title>IDIYA - African Funiture Manufactures</title>

        <meta name="description" content="IDIYA Woodworks embarked on its journey to become the leading woodwork factory in Tanzania and the EAC region.">
        <meta name="subject" content="Funiture,Bedroom,Kitchen,woodwork,ikea,home furniture,homefurniture, orcadeco, orca deco, discount center">
        <meta name="author" content="Samuel F Magafu">

        <!-- ==============================================
        Favicons
        =============================================== -->
        <!-- <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/apple-touch-icon-114x114.png' %}"> -->

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/slider.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/icons-fa.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/animation.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/cookie-notice.min.css' %}">


        <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
        <meta name="theme-color" content="#21333e">

        
        <style>
            :root {
                --hero-bg-color: #000007;
    
                --section-1-bg-color: #eef4ed;
                --section-2-bg-color: #ffffff;
                --section-3-bg-color: #111117;
                --section-4-bg-color: #eef4ed;
                --section-5-bg-color: #ffffff;
                --section-6-bg-color: #111117; --section-6-bg-image: url('assets/images/bg-1.jpg');
                --section-7-bg-color: #ffffff;
            }
        </style>
        
    </head>

    <body class="home">
        
        <!-- Preloader -->
        <div id="preloader" data-timeout="2000" class="odd preloader counter">
            <div data-aos="fade-up" data-aos-delay="500" class="row justify-content-center text-center items">
                <div data-percent="100" class="radial">
                    <span></span>
                </div>
            </div>
        </div>

        <!-- Header -->
        <header id="header">

            <!-- Top Navbar -->
            <nav class="navbar navbar-expand top">
                <div class="container header">

                    <!-- Navbar Items [left] -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link pl-0"><i class="fas fa-clock mr-2"></i>Open Hours: Mon - Sat - 9:00 - 17:00</a>
                        </li>
                    </ul>

                    <!-- Nav holder -->
                    <div class="ml-auto"></div>

                    <!-- Navbar Items [right] -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-phone-alt mr-2"></i>+255 687 232 933</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-envelope mr-2"></i>info@idayaafrica.com</a>
                        </li>
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item social">
                            <a href="https://www.facebook.com/idiya.tanzania/" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="https://www.instagram.com/idiya_tz/" class="nav-link"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-fixed sub">
                <div class="container header">

                    <!-- Navbar Brand-->
                    <!-- <a class="navbar-brand" href="">
                            <img src="{% static 'assets/images/logo.svg' %}" alt="Idaya">
                    </a> -->
                    <a class="navbar-brand" href="/">
                        <span class="brand">
                            <span class="featured">
                                <span class="first">IDIYA</span>
                            </span>
                            <!-- <span class="last">LIMITED</span> -->
                        </span>
                    </a>

                    <!-- Nav holder -->
                    <div class="ml-auto"></div>

                    <!-- Navbar Items -->
                    <ul class="navbar-nav items">
                        <li class="nav-item"><a href="{% url 'page:kitchen' %}" class="nav-link">Kitchen</a></li>
                        <li class="nav-item"><a href="{% url 'page:bedroom' %}" class="nav-link">Bedroom</a></li>
                        <li class="nav-item"><a href="{% url 'page:office' %}" class="nav-link">Office</a></li>
                        <li class="nav-item"><a href="{% url 'page:furniture' %}" class="nav-link">Funiture</a></li>
                        <li class="nav-item"><a href="{% url 'page:door' %}" class="nav-link">Door & Window</a></li>
                        <li class="nav-item"><a href="{% url 'page:decoration' %}" class="nav-link">Decoration</a></li>
                        <!-- <li class="nav-item"><a href="#" class="nav-link">About Us</a></li> -->
                        <li class="nav-item"><a href="{% url 'page:contact' %}" class="nav-link">Contact Us</a></li>
                    </ul>
                     <!-- mobile Nav link samversion -->
                     <ul class="navbar-nav toggle">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                                <i class="icon-menu m-0"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        
        {% block content %}
            
        {% endblock content %}
                    
        <!-- Footer -->
        <footer>

            <!-- Footer [content] -->

            <!-- Copyright -->
            <section id="copyright" class="p-3 odd copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                            <p></p>
                            <!--
                                Suggestion: Replace the text above with a description of your website.
                             -->
                        </div>
                        <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                            <p>&copy; Idiya Africa Powered By <a href="https://themeforest.net/user/codingsdev" target="_blank">Starbrand Creative </a>.</p>
                        </div>
                    </div>
                </div>
            </section>

        </footer>

        <!-- Modal [map] -->
        <div id="map" class="p-0 modal fade" role="dialog" aria-labelledby="map" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header absolute" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body p-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.1001579367185!2d39.22920971530419!3d-6.757639767959764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4f0a93936beb%3A0xeaefcd391da3e44a!2sIDIYA%20LTD-woodwork%20and%20furniture!5e0!3m2!1sen!2stz!4v1615964265605!5m2!1sen!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [responsive menu] -->
                <!-- Modal [responsive menu] -->
                <div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-slideout" role="document">
                        <div class="modal-content full">
                            <div class="modal-header" data-dismiss="modal">
                                <i class="icon-close fas fa-arrow-right"></i>
                            </div>
                            <div class="menu modal-body">
                                <div class="row w-100">
                                    <div class="items p-0 col-12 text-center">
                                        <!-- Append [navbar] -->
                                    </div>
                                    <div class="contacts p-0 col-12 text-center">
                                        <!-- Append [navbar] -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#header" class="smooth-anchor">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>        
        
        <!-- ==============================================
        Google reCAPTCHA // Put your site key here
        =============================================== -->
        <script src="../www.google.com/recaptcha/api9516.js?render=6Lf-NwEVAAAAAPo_wwOYxFW18D9_EKvwxJxeyUx7"></script>

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery.easing.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery.inview.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/ponyfill.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/slider.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/animation.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/progress-radial.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/bricklayer.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/gallery.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/shuffle.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/cookie-notice.min.js' %}"></script>
        <script src="{% static 'vassets/js/vendor/particles.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>