{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-80 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="{% static 'assets/images/decoration-wide.jpg' %}" alt="Full Image" class="full-image" data-mask="80">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Decoration</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">Decoration</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>  


<section id="single" class="section-1 single">
    <div class="container">
        <div class="row">

            <!-- Main -->
            <div class="col-12 col-lg-12 p-0 text">
                <div class="row intro m-0">
                    <div class="col-12">
                        <div class="title-icon">                                    
                            <h2>Decorations</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 align-self-center">
                        <p>Soar with limitless decorative ideas, and create innovative and inviting spaces all around. From Cladding walls, to innovative shelves, timber skirting, partitions, and ceiling false.
                            Simply design your space, and we will carve it in wood.
                             </p>
                    </div>
                </div>        
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                
                <div class="gallery row justify-content-center">
                    <a class="col-6 item" href="{% static 'assets/images/products/6-1.jpg' %}">
                        <img src="{% static 'assets/images/products/6-1.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                    <a class="col-6 item" href="{% static 'assets/images/products/6-2.jpg' %}">
                        <img src="{% static 'assets/images/products/6-2.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-12">
                <div class="gallery row justify-content-center">
                    <a class="col-6 item" href="{% static 'assets/images/products/6-3.jpg' %}">
                        <img src="{% static 'assets/images/products/6-3.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                    <a class="col-6 item" href="{% static 'assets/images/products/6-4.jpg' %}">
                        <img src="{% static 'assets/images/products/6-4.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                </div>
            </div>
        </div> 
    </div>
</section>
{% endblock content %}
    