{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-75 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="{% static 'assets/images/furniture-wide.jpg' %}" alt="Full Image" class="full-image" data-mask="80">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Funiture</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">Funiture</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>  


<section id="single" class="section-2 single">
    <div class="container">
        <div class="row text-center">

            <!-- Main -->
            <div class="col-12 col-lg-12 p-0 text">
                <div class="row intro m-0">
                    <div class="col-12">
                        <div class="title-icon">                                    
                            <h2><span class="featured">Funitures</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 align-self-center">
                       <p>Innovative designs for furniture to safe keeping and showcasing your space is an art we craft at IDIYA.
                        Live everyday with comfort, elegance & practicality, and never compromise on quality and durability.</p>
                    </div>
                </div>        
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="title">Cupboards</h4>
                <p>Stylish cupboard designs to give your spaces a more modern look while providing a practical storage solution.</p>
                <div class="gallery row justify-content-center">
                    <a class="col-6 item" href="{% static 'assets/images/products/15.jpg' %}">
                        <img src="{% static 'assets/images/products/15.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                    <a class="col-6 item" href="{% static 'assets/images/products/16.jpg' %}">
                        <img src="{% static 'assets/images/products/16.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-12">
                <h4 class="title">Dining Table</h4>
                <p>Create a welcoming, entertaining space with our dining tables that come in a variety of shapes and finishes for any home.</p>
                <div class="gallery row justify-content-center">
                    <a class="col-6 item" href="{% static 'assets/images/products/17.jpg' %}">
                        <img src="{% static 'assets/images/products/17.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                    <a class="col-6 item" href="{% static 'assets/images/products/18.jpg' %}">
                        <img src="{% static 'assets/images/products/18.jpg' %}" alt="Gallery" class="w-100">
                    </a>
                </div>
            </div>
        </div> 
    </div>
</section>
{% endblock content %}
    