{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-80 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="{% static 'assets/images/kitchen-wide.jpg' %}" alt="Full Image" class="full-image" data-mask="80">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Kitchen</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">Kitchen</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>  

<section class="section-2">
   <div class="container">
    <div class="row text-center intro">

        <!-- Main -->
        <div class="col-12 col-lg-12 p-0 text">
            <div class="row intro m-0">
                <div class="col-12">
                    <div class="title-icon">                                    
                        <h2><span class="featured">Kitchens</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 align-self-center">
                    <p>Designing the creative part of the house has never been more interesting. Select your kitchen space material from our wide range selection of hardwood or craft it from the futuristic Melamine.</p>
                </div>
            </div>       
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="title">Hardwood Kitchen</h4>
            <p>A touch of classic door knobs to compelling cabinet handles. Selective unique styles and a finish of antique elegance.</p>
            <div class="gallery row justify-content-center">
                <a class="col-6 item" href="{% static 'assets/images/products/1.jpg' %}">
                    <img src="{% static 'assets/images/products/1.jpg' %}" alt="Gallery" class="w-100">
                </a>
                <a class="col-6 item" href="{% static 'assets/images/products/2.jpg' %}">
                    <img src="{% static 'assets/images/products/2.jpg' %}" alt="Gallery" class="w-100">
                </a>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-12">
            <h4 class="title">Melamine Kitchen</h4>
            <p>Kitchens made with melamine material is resistant to the normal conditions in the kitchen such as heat, moisture, and stains. 
            </p>
            <div class="gallery row justify-content-center">
                <a class="col-6 item" href="{% static 'assets/images/products/3.jpg' %}">
                    <img src="{% static 'assets/images/products/3.jpg' %}" alt="Gallery" class="w-100">
                </a>
                <a class="col-6 item" href="{% static 'assets/images/products/4.jpg' %}">
                    <img src="{% static 'assets/images/products/4.jpg' %}" alt="Gallery" class="w-100">
                </a>
            </div>
        </div>
    </div> 

   </div>
</section>

{% endblock content %}
